@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas: 'logo' 'hero' 'info';
  max-width: 375px;
  margin: 0 auto;
}

.logo-div {
  grid-area: logo;
  padding: 30px 20px;
}

.hero-div {
  grid-area: hero;
}

.info-div {
  grid-area: info;
  padding: 40px 0;
}

#logo {
  height: 20px;
}

#hero {
  width: 100%;
}

.paragraphs {
  padding: 0 10px;
  text-align: center;
}

.paragraphs p {
  color: hsl(0, 36%, 70%);
}

.paragraphs p:first-of-type {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 12px;
}

.paragraphs p:first-of-type > span {
  color: black;
  font-weight: 600;
}

.paragraphs p:last-of-type {
  width: 100%;
  line-height: 1.5rem;
}

form {
  margin-top: 3em;
}

#email {
  padding: 20px;
  width: 85%;
  margin-left: 25px;
  border: 1px solid hsl(0, 36%, 70%);
  position: relative;
}

#email::placeholder {
  color: hsla(0, 36%, 70%);
}

#email,
#email::placeholder {
  text-indent: 10px;
}

#email,
button {
  border-radius: 50px;
}

button {
  margin-left: -6em;
  padding: 16.5px 35px;
  background-image: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-style: none;
  position: absolute;
}

button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .grid-container {
    grid-template-areas: 'logo hero' 'info hero';
    max-width: 100%;
  }

  .info-div {
    margin-top: -15%;
  }

  .logo-div,
  .info-div {
    padding: 5% 23%;
  }

  #logo {
    height: 45px;
  }

  #hero {
    content: url("images/hero-desktop.jpg");
    height: 953px;
  }

  .paragraphs {
    text-align: left;
  }

  .paragraphs p:first-of-type {
    font-size: 5.5rem;
    width: 50%;
  }

  .paragraphs p:last-of-type {
    font-size: 1.25rem;
    width: 90%;
    margin-top: -3em;
    line-height: 30px;
  }

  #email {
    margin-left: 10px;
  }
}